* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

header {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.stats {
  display: flex;
  margin: 10px;
  gap: 20px;
}

.stats li {
  list-style: none;
}

.todos li {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.todos li button {
  height: 30px;
  width: 30px;
}

.todos li button svg {
  height: 18px;
  width: 18px;
}

.todos li.completed {
  text-decoration: line-through;
}

input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 20px;
  height: 20px;
  border: 2px solid plum;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30px' height='30px'%3E%3Cpath d='M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z'/%3E%3C/svg%3E");
  transform: scale(0);
}

.todo-div {
  display: flex;
  gap: 15px;
}

input[type="checkbox"]:checked {
  background-color: aquamarine;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.todos li button {
  border: 0;
  padding: 2px;
  display: grid;
  place-content: center;
  background-color: transparent;
}

.todos li button:hover svg path {
  stroke: blueviolet;
}
